    <center><h2>Good news!  That means you have four options - and you may choose to contest if you wish.</h2>
    <h3>Picking the "right" option for you depends on how much time, money, and how urgent the situation is for you.</h3>
    </center>

    <%= link_to "Contest Ticket via Written Appeal", '#', class: "btn btn-primary"%>

 <h4>
    <ul>
      <li> Write/mail a letter, appealing this decision and why to the court.</li>
      <li>Use our built-in templates or write your own.</li>
      <li>You will recieve the final judge's verdict in the mail.</li>
         <li>No need for in-person visits to the courthouse or showdowns with the police officer.</li>
          <li> This turnaround time for written appeal is usually slow.
          <li> This prolongs the process, holding the DMV off from adding a point to your record until the judge makes a final verdict.</li>
          <li> You may still have to pay your fine upfront, depending on the court.</li>
          </ul>

   <br>
    <%= link_to "Contest Ticket in-person", '#', class: "btn btn-primary"%>

    <ul>
      <li> WHY THIS IS GOOD</li>
      <li>WHY THIS METHOD IS BAD</li>
      <li>IS THIS METHOD FAST</li>
      <li>WHAT IS THIS METHOD GOOD FOR</LI>
          </ul>

   <br>
    <%= link_to "Pay the fine, don't contest", '#', class: "btn btn-primary" %>

    <ul>
      <li> WHY THIS IS GOOD</li>
      <li>WHY THIS METHOD IS BAD</li>
      <li>IS THIS METHOD FAST</li>
      <li>WHAT IS THIS METHOD GOOD FOR</LI>
          </ul>

   <br>
    <%= link_to "Hire a traffic lawyer", '#', class: "btn btn-primary" %>

    <ul>
      <li> WHY THIS IS GOOD</li>
      <li>WHY THIS METHOD IS BAD</li>
      <li>IS THIS METHOD FAST</li>
      <li>WHAT IS THIS METHOD GOOD FOR</LI>
          </ul>

        </h4>
