<h3>Is the difference between <i>your</i> "Speed Cited" and "Max Speed" >= 25MPH ?</h3>
</center>

<%= link_to "No, I was not traveling 25MPH or higher than the speed limit.", "/contest", class: "btn btn-primary" %>
<%= link_to "Yes, the ticket states I was traveling at or over 25MPH the speed limit.", "#", class: "btn btn-primary"%>
<br>
