<center><h2>Look at this section of your ticket.</h2>
  <h3> Do you see the Speed Approx and P.F Max Spd boxes?</h3>

<%= image_tag("sampleticket.jpg", :size => "800x900" )%>
</center>
<br><i>
<p><strong>Speed Approx:</strong>  the approximate speed that the police officer cited you traveling at before he/she stopped you.</p>
<p><strong>P.F/Max Spd:</strong>  the speed limit of the area you were traveling at.</p></i>

<center>

<%= link_to "I see it.", '/ticketnext', class: "btn btn-primary" %>
