<center><h1>You've got a speeding ticket - here's what you can do.</h1></center>
<br>
<center>
  <h4>Have you received an official copy of your ticket in the mail yet?</h4>
<%= link_to "Yes, I have.", "/yes", class: "btn btn-primary" %>
<%= link_to "No, I haven't.", "/wait", class: "btn btn-primary" %>
</center>
