<center>
<h3>We recommend waiting for the ticket to arrive.</h3>
</center>
<br>
<br>
<p>The ticket contains these important items:
<ul>
  <li>Ticket number</li>
  <li>Confirmation that the officer put it into the system</li>
  <li>Date ticket was issued</li>
  <li>Deadline to take action by</li>
  <li>The speed the officer clocked you at before pulling you over</li>
  <li>The speed limit of the area</li>
  <li>The zone that you were allegedly speeding in</li>
  <li>The court that you will be in correspondance with</li>
</ul>
</p>

<br>
<br>

<center>
<h3>Are you looking for actions you can take while waiting?</h3>
</center>
<p>Here are some options:
  <ul>
    <li>Calling the court to request for more information.</li>
    <li>Calling the police department that issued your ticket.</li>
    <li>Contacting your insurance to discuss any impact this may have on your plan/record.</li>
  </ul>
</p>
