  <center>
  <h1>Let's get started.</h1>

  <h3>Has the deadline for response stated on the ticket passed yet?<h3>
  <br>

  <%= link_to "No, I still have enough time to respond.", "/speedcalculation", class: "btn btn-primary"%>
  <%= link_to "Yes, today is already past the deadline.", "#", class: "btn btn-primary"%>

  </center>
