@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

body {
  padding-top :60px;
  padding-left :20px;
}

/*section {
  overflow: auto;
}

textarea {
  resize: vertical;
}*/

.center h1 {
  margin-bottom: 10px;
}
